NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
NEXT_PUBLIC_ZERODEV_PROJECT_ID=
NEXT_PUBLIC_ZERODEV_RPC_URL=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_MOCK_USDG_ADDRESS=
NEXT_PUBLIC_STORE_WALLET_ADDRESS=
KIT_API_KEY=
KIT_FORM_ID=
